:root {
    --darkred: #77353D; 
    --lightblue: #87cefa;   
    --white: #ffffff;
    --black: #1D3557;
    --radius-circle: 50%;
    --radius-square: 0.5rem;
    --border-thin: 0.25rem;
    --border-thick: 0.5rem;
    --opacity: 0.88;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: var(--black);
    background-color: var(--darkred);
    overflow-x: hidden;
}

img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: var(--radius-circle);
    border: var(--border-thin) solid var(--lightblue);
}

.hero,
.activities,
.guide,
h1,
h2 {
    opacity: var(--opacity);
}

/* TYPOGRAPHY */

h1,
h2 {
    color: var(--white);
    margin-top: 0;
    border-radius: var(--radius-square);
    padding: 0.65rem 1.3rem;
}

h1 {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 2.5rem;
}

h2 {
    background-color: var(--darkred);
}

h3 {
    font-size: 2.1rem;
}

a {
    color: var(--darkred);
}

a:hover {
    text-shadow: 0 0 1px var(--darkred);
}

/* HERO SECTION */

.hero {
    background: url("images/riga_hero-image.jpg") center/cover no-repeat;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 2rem 2rem;
}

.title {
    background-color: var(--white);
    color: var(--darkred);
    text-shadow: -2px -3px 3px var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flag {
    border: none;
    width: 50px;
    height: 50px;
    margin-left: 0.5rem;
}

/* ACTIVITIES */

main {
    background-color: var(--white);
    padding: 1rem 5rem 3rem;
}

.activities {
    display: flex;
    justify-content: space-around;
    background-color: var(--white);
}

.activities div {
    margin: 1.5rem;
}

.activities p {
    max-width: 15rem;
}

.video-container {
    width: 450px;
    height: 300px;
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
    background-color: var(--white);
    border-top-left-radius: var(--radius-square);
    border-top-right-radius: var(--radius-square);
    border-top: var(--border-thick) solid var(--darkred);
    border-right: var(--border-thick) solid var(--darkred);
}